@mixin clearfix {
    &::after {
        content: '';
        clear: both;
        display: table;
    }
}

@mixin flexcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}