@keyframes main {
    0% {
        opacity:0 ;
        transform: translate(30%,0);
    }
    100% {
        opacity: 1;
        transform: translate(0%,0%);
    }
}
@keyframes sub {
    0% {
        opacity: 0;
        transform: translate(-30%,0);
    }
    100% {
        opacity: 1;
        transform: translate(0,0);
    }
}
@keyframes header-a {
    0% {
        opacity: 0;
        transform: translateY(33%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes header-a-hover {
    0% {
    }
}
@keyframes header-a-hover-after {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}