body {
    font-family: "Lato",sans-serif; /*Lato -> Google Font. check index.html link in <head>*/
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7; /*行高*/
    color: $color-grey-dark;
    /* padding:30px; */
    padding: 3rem;
}
.heading-primary {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    /* border: 3px solid black; */
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    /* margin-bottom:60px; */
    margin-bottom: 6rem;


    &--main {
        /* font-size: 60px; */
        font-size:6rem;
        /* letter-spacing: 30px; */
        letter-spacing: 3rem;
        font-weight: 400;
        animation: main 1.5s ease;
    }

    &--sub {
        /* font-size: 20px; */
        font-size: 2rem;
        /* letter-spacing: 17.1px; */
        letter-spacing: 1.71rem;
        font-weight: 400;
        animation: sub 1.5s ease;
    }

}
.heading-primary--main,.heading-primary--sub {
    display: block;
}

.heading-secondary {
    display: inline-block;
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: 700;
    background: linear-gradient(to right,$color-primary-light,$color-primary-dark);
    -webkit-background-clip: text;
    color:transparent;
    letter-spacing: .2rem;
    transition: all .3s;

    &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem .1rem 3rem rgba(0,0,0,0.45); 
    }
}

.heading-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}

